.venv/

__pycache__/
*.pyc
*.pyo

data/
outputs/

.cache/
*.cache

hf_cache_backup/
pip_cache_backup/
.huggingface/

*.pt
*.bin
*.safetensors

.ipynb_checkpoints/
.cursor/

.env

build/
dist/
*.egg-info/